@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    /* Background Image */
    background-image: url('/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    @apply text-white font-sans antialiased min-h-screen;
  }

  /* Globale Regel für Inputs: Immer schwarzer Text auf hellem Hintergrund (Standard) */
  input, textarea, select {
    @apply text-gray-900;
  }
}

@layer utilities {
  .preserve-3d {
    transform-style: preserve-3d;
  }
  
  .perspective-1000 {
    perspective: 1000px;
  }
  
  .backface-hidden {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden; /* Safari Support */
  }

  /* Hilfsklasse um Rückseite zu drehen */
  .rotate-y-180 {
    transform: rotateY(180deg);
  }
}
